@import url('https://fonts.googleapis.com/css?family=Merriweather');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 1em;
  display: flex;
  min-heiht: 100vh;
  flex-direction: column;
  font-family: helvetica,arial,sans-serif;
}

.clearfix:after {
  clear: both;
  content: "";
  display: table;
}

.full-width {
  width: 100%;
}

h1, h2 {
  font-weight: 300;
  font-family: 'Merriweather', serif;
}

h2 {
  font-size: 1.5em;
}

a {
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}

p {
  font-size: .9em;
  line-height: 1.6;
  color: #777;
}

img {
  width: 100%;
  height: auto;
}

header {
  height: 70px;
  padding: 15px;
}

header .logo {
  float: left;
}

header nav {
  float: right;
}

nav ul li {
  display: inline-block;
  padding-top: 10px;
  margin-left: 20px;
}

ul {
  list-style-type: none;
}

main {
  flex: 1;
}

main article {
  padding: 0 20px;
  height: auto;
  width: 70%;
  float: left;
  display: flex;
  flex-wrap: wrap;
  transition: 300ms width ease;
}

.sidebar-closed {
  height: 0;
}

main article .grid-block {
  margin-bottom: 20px;
  margin-right: 20px;
  width: calc(33.333333333333336% - 20px);
}

main article .grid-block:nth-child(3n+0) {
  margin-right: 0;
}

main article .grid-block h2 {
  margin: 10px 0;
}

main aside {
  width: 30%;
  float: right;
  padding: 0 20px;

  transform: translate3d(0,0,0);
  transition: 300ms height ease;
  height: calc(100% - 100px);
  overflow: auto;
}

main aside p {
  margin-bottom: 1em;
}

footer {
  text-align: center;
}

@media only screen and (max-width: 768px) {
  nav ul li a#sidebar, main aside {
    display: none;
  }

  main article {
    width: 100%;
  }
}
